.container{
    height: unset;
    margin: 0;
}
#elements_text{
    margin-bottom: 30px;
    font-size: 1.33333em;
}
.s-box{
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    min-height: 100px;
    border: 1px solid #ddd;
    margin-top: 30px;

}
.s-box:first-child{
    margin-top: unset;
}
.s-title{
    font-size: 1.133333em;
    background: #fff;
    display: inline-block;
    left: 15px;
    position: relative;
    top: -15px;
    padding: 0 10px;
    color: #959595;
}
.s-content{
    padding: 0 15px 15px 15px;
}
.tip-err{
    font-size: 1.8888em;
    color: red;
}