{{define "body"}}
<div class="s-box">
    <div class="s-title">提示信息</div>
    <div class="s-content">
       <div class="tip-err"> {{.err_str}}</div>
    </div>
</div>
<div class="s-box">
    <div class="s-title">授权码  在下面输入并更新</div>
    <div class="s-content">
        <form action="" class="dxy-form">
            <div class="dxy-form-group">
                <label class="dxy-label">授权码</label>
                <div class="dxy-form-content">
                    <textarea class="dxy-textarea" id="sqm">{{.sqm_str}}</textarea>
                </div>
            </div>

            <div class="dxy-form-group">
                <div class="dxy-form-content">
                    <div class="dxy-btn dxy-btn-info" style="margin-top: 15px" onclick="sqm_update_view()">更新授权码</div>
                    <script>
                        function sqm_update_view() {
                            var sqm = $('#sqm').val();
                            sqm_update(sqm)
                        }
                    </script>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="s-box">
    <div class="s-title">技术支持</div>
    <div class="s-content">
        <div>只处理技术 Q ( 1164537025 ) 问题，交易相关请找客服 </div>
    </div>
</div>
{{end}}
{{define "js"}}

{{end}}