{{define "body"}}
    <div class="s-box">
        <div class="s-title">单个查询</div>
        <div class="s-content">
            <div class="dxy-form">
                <form action="" class="dxy-form">
                    <div class="dxy-form-group">
                        <label class="dxy-label">查询词</label>
                        <div class="dxy-form-content">
                            <input type="text" class="dxy-input" v-model="f1.ci"></div>
                    </div>
                    <div class="dxy-form-group">
                        <label class="dxy-label">HOST</label>
                        <div class="dxy-form-content">
                            <input type="text" class="dxy-input" v-model="f1.domain"></div>
                    </div>
                    <div class="dxy-form-group">
                        <label class="dxy-label">文字[XX网]</label>
                        <div class="dxy-form-content">
                            <input type="text" class="dxy-input" v-model="f1.txt"></div>
                    </div>
                    <div class="dxy-form-group">
                        <label class="dxy-label">最大查找页</label>
                        <div class="dxy-form-content">
                            <input type="text" class="dxy-input" v-model="f1.stop"></div>
                    </div>

                    <div class="dxy-form-group"><label class="dxy-label"></label>
                        <div class="dxy-form-content">
                            <button type="button" class="dxy-btn dxy-btn-primary" @click="v_1_submit">开始查询</button>
                        </div>
                    </div>
                    <div  class="dxy-form-group">
                        <label class="dxy-label">排名位置</label>
                        <div class="dxy-form-content">
                            <input type="text" class="dxy-input" v-model="f1.pm" disabled="disabled">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="s-box">
        <div class="s-title">批量查询</div>
        <div class="s-content">

        </div>
    </div>
{{end}}
{{define "js"}}
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                f1: {
                    ci: '百度文库怎么玩',
                    domain: 'baidu.com',
                    txt: '',
                    stop: 10,
                    pm: '',
                }
            },
            methods: {
                v_1_submit() {
                    this.f1.stop = parseInt(this.f1.stop);
                    baidu_pm_pc(JSON.stringify(this.f1))
                }
                ,setf1pm(i){
                    this.f1.pm = i
                }
            }
        })
    </script>
{{end}}
