{{define "body"}}
    <div class="s-box">
        <div class="s-title">进行提交</div>
        <div class="s-content">
            <p>链接合适：</p>
            <p>提交类型 | ICP备案[没有留空竖杠必须存在] | 域名或者链接 | 邮箱[留空则自动生成不建议留空]</p>
            <p>例： 其他网站||https://www2.baidu.com|123456789@qq.com</p>
            <textarea name=""  id="text" class="dxy-textarea"   v-model="textarea"  style="height: 300px;width: 100%;margin-top: 30px"></textarea>
            <br>
            <div class="dxy-btn dxy-btn-info" style="margin-top: 15px;" @click="v_submit()">开始提交</div>

        </div>
    </div>
{{end}}
{{define "js"}}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            textarea:'',
        },
        methods:{
            v_submit(){
                so_submit_1(this.textarea)
            }
        }
    })
</script>
{{end}}