{{define "body"}}
<div class="s-box">
    <div class="s-title">登录账号</div>
    <div class="s-content">
        <div class="dxy-form">
            <form action="" class="dxy-form">
                <div class="dxy-form-group">
                    <label class="dxy-label">账号</label>
                    <div class="dxy-form-content">
                        <input type="text" class="dxy-input" v-model="user">
                    </div>
                </div>
                <div class="dxy-form-group">
                    <label class="dxy-label">密码</label>
                    <div class="dxy-form-content">
                        <input type="text" class="dxy-input" v-model="pwd">
                    </div>
                </div>
                <div class="dxy-form-group">
                    <label class="dxy-label"></label>
                    <div class="dxy-form-content">
                        <button type="button" class="dxy-btn dxy-btn-primary" @click="v_login()">登录</button>
                    </div>
                </div>
                <div class="dxy-form-group">
                    <div class="dxy-form-content">
                        <p>用户：{{.user_name}}</p>
                        <textarea id="cookie" style="height: 100px;width: 80%;margin-top: 10px" v-model="cookie"></textarea><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="s-box">
    <div class="s-title">链接输入框</div>
    <div class="s-content">
        <div class="dxy-form">
            <form action="" class="dxy-form">
                    <label class="dxy-radio-block">
                        <input name="site_type" type="radio" value="1" v-model="form.type" checked>
                        <span>PC</span>
                    </label>
                    <label class="dxy-radio-block">
                        <input name="site_type" type="radio"   v-model="form.type" value="2">
                        <span>Wap</span>
                    </label>
                <div style="margin: 10px 0">
                    邮箱 ： <input type="text" id="email" class="dxy-input" placeholder="输入提交的邮箱，不输入则自动生成" style="width: 300px" v-model="form.email">
                </div>

                <div>
                    提交速度限制：<input type="text" placeholder="最小值" class="dxy-input" v-model="form.min"> - <input type="text" class="dxy-input" placeholder="最大值"  v-model="form.max">
                </div>

                <p>在下方输入你的链接</p>
                <textarea placeholder="例：http://www.example.com/a.html" class="dxy-textarea" style="width: 100%;height: 150px" id="link_submit" v-model="form.textarea" ></textarea>
                <div class="dxy-btn dxy-btn-info" style="margin-top: 15px" @click="v_submit(this)">开始提交</div>
            </form>
        </div>
        <div   class="show-message" id="submit-message"></div>
    </div>
</div>
<script>

</script>
{{end}}
{{define "js"}}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            user:'',
            pwd:'',
            cookie:'{{.cookie}}',
            form:{
                type:'2',
                email:'',
                min:'10',
                max:'30',
                textarea:'',
            }
        },
        methods:{
            v_login(){
                sg_login(this.user,this.pwd)
            },
            v_submit() {
                if (this.form.textarea === ""){
                    ms_err("未输入链接");
                    return
                }
                this.form.min = parseInt( this.form.min);
                this.form.max = parseInt( this.form.max);
                sg_submit(JSON.stringify(this.form))
            }
        }
    })
</script>
{{end}}