{{define "body"}}
<div class="s-box">
    <div class="s-title">登录账号</div>
    <div class="s-content">
        <button type="button" class="dxy-btn dxy-btn-primary" onclick="loginsm()">点击登录获取 Cookie </button>
        <div>  <textarea id="cookie" style="height: 100px;width: 80%;margin-top: 10px" v-model="cookie"></textarea><br>
            <button type="button" class="dxy-btn dxy-btn-primary" @click="v_set_cookie()">手动设置Cookie</button>
        </div>
    </div>
</div>

<div class="s-box">
    <div class="s-title">域名选择</div>
    <div class="s-content">
       <div class="dxy-form">
           <form action="" class="dxy-form">
               <div class="dxy-form-group">
                   <label class="dxy-label">域名</label>
                   <div class="dxy-form-content">
                       <select class="dxy-select" id="select_domain" style="width: 300px"  @change="v_domain_change()" v-model="active_domain">
                           <option value="">请选择</option>
                           {{range .domain_list}}
                               <option value="{{.href}}">{{.domain}}</option>{{end}}
                       </select>
                   </div>
               </div>
               <div class="dxy-form-group">
                   <label class="dxy-label">API链接</label>
                   <div class="dxy-form-content">
                       <input type="text" class="dxy-input" style="width: 100%" id="s_link"  disabled>
                   </div>
               </div>
           </form>
       </div>
    </div>
</div>


<div class="s-box">
    <div class="s-title">MIP数据提交</div>
    <div class="s-content">
       <div class="dxy-form">
           <form action="" class="dxy-form">
               <p>在下方输入你的链接</p>
               <textarea  class="dxy-textarea" style="width: 100%;height: 150px" v-model="form.textarea"></textarea>
               <div class="dxy-btn dxy-btn-info" style="margin-top: 15px" @click="v_submit()">开始提交</div>
           </form>
       </div>
    </div>
</div>

<div class="s-box">
    <div class="s-title">MIP-Cache清理</div>
    <div class="s-content">
       <div class="dxy-form">
           <form action="" class="dxy-form">
               <p>在下方输入你的链接</p>
               <textarea  class="dxy-textarea" style="width: 100%;height: 150px"  v-model="form.textarea"></textarea>
               <div class="dxy-btn dxy-btn-info" style="margin-top: 15px" @click="v_cancel()">开始提交</div>
           </form>
       </div>
        <div   class="show-message" id="cancel-message"></div>
    </div>
</div>
{{end}}
{{define "js"}}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            cookie:'{{.cookie}}',
            active_domain:'',
            form:{
                textarea:'',
            }
        },
        methods:{
            v_set_cookie( ){
                loginsmset(this.cookie)
            },
            v_domain_change(){
                sm_change_domain(this.active_domain);
            },
            v_submit(){
                var  link =  $('#s_link').val();
                var data = this.form.textarea;
                if (link === "" || data === ""){
                    ms_err('先选择要提交的域名,在输入要提交的链接');
                    return
                }
                sm_submit(link,data)
            },
            v_cancel(){
                var  link =  $('#s_link').val();
                var data = this.form.textarea;
                if (link === "" || data === ""){
                    ms_err('先选择要提交的域名,在输入要提交的链接');
                    return
                }
                sm_cancel(link,data)
            }
        },
    })
</script>
{{end}}

<script>
    var app = new Vue({
        el: '#app',
        data: {

        },
        methods:{

        }
    })
</script>