<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{h}}/static/docs.min.css">
    <link rel="stylesheet" href="{{h}}/static/dxy-ui.min.css">
    <link rel="stylesheet" href="{{h}}/static/base.css">
    <script src="{{h}}/static/jquery.js"></script>
    <script src="{{h}}/static/vue.js"></script>
    <title>{{.t}}</title>
    <style>
        .title-top{
            font-size: 1.3333em;
            color: #0070fb !important;
            position: relative;
            left: -10px;
        }
        .child-00000001{
            padding-left: 10px!important;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <nav class="dxy-tree nav" id="j_nav">
            <ul class="dxy-tree-node dxy-tree-expanded">
            {{range .nav}}
                <li class="dxy-tree-content"><a href="{{.U}}?{{$.time}}" class="title-top" >{{.T}}</a></li>
                {{range .Child}}
                    <ul class="dxy-tree-node dxy-tree-expanded child-00000001">
                        <li class="dxy-tree-content {{if  eq $._path .U}}active-leaf {{end}} "><a href="{{.U}}?{{$.time}}">{{.T}}</a></li>
                    </ul>
                {{end}}
            {{end}}
            </ul>
        </nav>
        <style >
            #runtime-message{
                height: 100px;
                overflow: auto;
                border: 1px dashed red;
                position: fixed;
                width: 70%;
                background: #f3f3f3;
                padding: 5px;
                bottom: 0;
                margin-bottom: 5px;
                z-index: 5555;
            }
            .du-docs-section.example_area-elements_text{
                margin-bottom: 180px;
            }
        </style>
    </div>
    <div class="content" id="j_content">

        <div style="position: relative">
            {{/*            <div style="position: absolute; top: 5px; left: 75px; background: #fff; padding: 2px 5px; border: 1px solid #ffc0c0; color: #a06393;">运行提示</div>*/}}
            <div id="runtime-message">

                <div id="runtime-message-show"></div>
            </div>
        </div>

        <div class="du-docs-section example_area-elements_text">
            <h3 id="elements_text" class="page-header">{{.title}}</h3>
            <div id="app">
                {{template "body" .}}
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>Vue.options.delimiters = ['${', '}'];</script>
{{template "js" .}}
{{if eq .debug false}}
<script>

    // Prevent Ctrl+S (and Ctrl+W for old browsers and Edge)
    document.onkeydown = function (e) {
        e = e || window.event;//Get event

        if (!e.ctrlKey) return;

        var code = e.which || e.keyCode;//Get key code

        switch (code) {
            case 83://Block Ctrl+S
            case 87://Block Ctrl+W -- Not work in Chrome and new Firefox
                e.preventDefault();
                e.stopPropagation();
                break;

        }
    };
    document.onkeydown = function (e) {
        var code = e.which || e.keyCode;//Get key code
        switch (code) {
            case 116:
                e.preventDefault();
                e.stopPropagation();
                break
        }
    };
    document.oncontextmenu= function(e){
        var e = e || window.event;
        if(e.button == "2"){ //判断是否是右bai键
                             //……你的代du码……
            // alert("右击事件");
            return false;
        }
        return true;
    }

</script>
{{end}}
